<h1> Astronauts </h1>
<h3>Average age: <%=  @average_age%> </h3>

<% @astronauts.each do |astronaut| %>
  <h3><%=  astronaut.name %></h3>
  Job: <%=  astronaut.job%><br>
  Age: <%=  astronaut.age%><br>
    <% astronaut.astronaut_missions.each do |astro_mission| %>
     Missions: <%=  astro_mission.title%><br>
      <% end %>
<% end %>